.cart-wrapper {
	background-image: url('./cart_top_bg_image.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-color: rgb(243,243,243);
	box-sizing: border-box;
	padding: 0 0.2rem;
	.header-wrapper {
		flex-shrink: 0;
	}
	.list-wrapper {
		flex-shrink: 1;
		flex-grow: 1;
	}
	.footer-wrapper {
		flex-shrink: 0;
	}
}