.login-wrapper {
	box-sizing: border-box;
	background-image: url(./login_bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 1.2rem 0.92rem 0;
	width: 100%;
	height: 100%;
	h1 {
		font-weight: normal;
		color: #666;
		text-align: center;
	}
	a {
		font-size: 0.28rem;
		color: #666;
	}
}
